* { box-sizing: border-box; }

body {
    margin: 0;
    background-color: #fbfbfb;
}

.top-menu {
  background-color: #ebebeb;
  padding: 20px;
  padding-bottom: 10px;
}

.font-menu {
  font-family: 'Fraktur';
  font-weight: bold;
  font-size: 56px;
  color: red;
}



#logo {
  width: 12px;
	float: left;
  min-width: 40px;
	min-height: 48px;
}


.playground {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.columna-formato {
  border: 2px solid #1F618D;
}

.columna {
  width: 33.333333333%;
  height: 100%;
  float: right;
  overflow: hidden;
}

.columna1 {
  width: 33.333333333%;
  height: 30pc;
  float: left;
  overflow: hidden;
}

.columna-interior-size {
  border-right: -1px solid #1F618D;
  width: 66.66666666%;
  height: 30pc;

  left: 15.5pc;
}
